nohup.out
*.pth
*.pt
checkpoints/
logs/
inference/
visualizations/
images/
**/__pycache__/
tfmodel/
dataPreparation/HSI_Annotations/
dataPreparation/anomalies.txt
*.ipynb
dataPreparation/ShelfLifeGroundTruthOld.csv
dataPreparation/ShelfLifeGroundTruth(New).csv
dataPreparation/ShelfLifeGroundTruth(NewNew).csv
dataPreparation/ShelfLifeGroundTruthMobile(NewNew).csv